{% extends "tethys_django_form_tutorial/base.html" %}
{% load tethys_gizmos %}

{% load static %}
{% block header_buttons %}

  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Django Form with Param</h1>
  <form action="" method="POST">
      {% csrf_token %}
      {{ form }}
      <p></p>
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>

  <p></p>
  <h3>Submitted Data</h3>
  <ol>
      <li>Boolean: {{data_boolean}}</li>
  </ol>

{% endblock %}


{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li class=""><a href="..">Home</a></li>
  <li class="active"><a href="">Boolean</a></li>
  <li class=""><a href="../colorpicker">Color Picker</a></li>
  <li class=""><a href="../dataframe">DataFrame</a></li>
  <li class=""><a href="../date">Date</a></li>
  <li class=""><a href="../file_selector">File Selector</a></li>
  <li class=""><a href="../select_string">Select String</a></li>
  <li class=""><a href="../magnitude">Magnitude</a></li>
{% endblock %}
