{% extends "tethys_django_form_tutorial/base.html" %}
{% load tethys_gizmos %}

{% load static %}
{% block header_buttons %}

  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Django Form with Param</h1>
  <form action="" method="POST">
      {% csrf_token %}
      <p><strong>param_string = param.String(default="hello world!", doc="Your String")</strong></p>
      <h3>Form Result:</h3>
      {{ form }}
      <p></p>
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>

  <p></p>
  <h3>Submitted Data</h3>
  <ol>
      <li>Boolean: {{data_boolean}}</li>
  </ol>

{% endblock %}
