{% extends "tethys_django_form_tutorial/base.html" %}
{% load tethys_gizmos static %}

{% block app_content %}
  <h1>Django Form with Param</h1>
{% if message %}<p style="color: {% if success %}green{% else %}red{% endif %};"><strong>{{ message }}</strong></p>{% endif %}
  <form action="" method="POST">
      {% csrf_token %}
      {{ form }}
      <p></p>
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>

  <p></p>
  <h3>Param Values</h3>
  <ul>
      {% for p in param.get_param_values %}
      <li>{{ p.0 }}: {{ p.1 }}</li>
      {% endfor %}
  </ul>
{% endblock %}
